# .env
DEBUG=True
SECRET_KEY=<your django secret key>
GOOGLE_API_KEY=<your pagespeed insight api key>

# Database credentials
DB_NAME=pagespeed_db
DB_USER=root
DB_PASSWORD=<your_mysql_password>
DB_HOST=127.0.0.1
DB_PORT=3306