# .env
DEBUG=True
SECRET_KEY=django-insecure-jfl+!q%cfiv$)$rdaq@8_7f_osx32c=iw75tfw4y1c7sun1vly
GOOGLE_API_KEY=<your pagespeed insight api key>

# Database credentials
DB_NAME=pagespeed_db
DB_USER=root
DB_PASSWORD=<your_mysql_password>
DB_HOST=127.0.0.1
DB_PORT=3306